/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}
.mat-column-email{
  margin-left: 20px;
}
.mat-table {
  overflow: auto;
  max-height: 780px;
}

.mat-column-ncbn, .mat-column-newphone, .mat-column-nphn2{
  max-width: 64px;
}