<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
  <h2>Авторизация</h2>
  <div class="form-group">
    <mat-form-field class="sbidh-full-width" [ngClass]="{ 'has-error': f.submitted && !loginForm.controls['username'].valid }">
      <input matInput type="text" name="username" placeholder="Логин" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        required>
      <mat-error *ngIf="submitted && f.username.errors">нужно указать</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="sbidh-full-width" [ngClass]="{ 'has-error': f.submitted && !loginForm.controls['password'].valid }">
      <input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors}"
        placeholder="Пароль">
      <mat-error *ngIf="submitted && f.password.errors ">нужно указать</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group ">
    <button [disabled]="loading " mat-raised-button color="primary">Заходим</button>
    <!-- <button [disabled]="loading " class="btn btn-primary ">Login</button> -->
    <img *ngIf="loading " src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </div>
  <div *ngIf=" error " class="alert alert-danger ">{{error}}</div>
</form>
<!-- <div class="jumbotron ">
    <div class="container ">
      <div class="col-sm-8 col-sm-offset-2 ">
        <h2>Авторизация</h2>
        <form name="form " (ngSubmit)="f.form.valid && login() " #f="ngForm " [style.fontSize.px]=20 novalidate>
          <mat-form-field class="sbidh-full-width" [ngClass]="{ 'has-error': f.submitted && !username.valid } ">
            <input matInput type="text " name="username " placeholder="Логин " [(ngModel)]="model.username
        " #username="ngModel " required>
            <mat-error *ngIf="f.submitted && !username.valid ">нужно указать</mat-error>
          </mat-form-field>
          <mat-form-field class="sbidh-full-width " [ngClass]="{ 'has-error': f.submitted && !password.valid } ">
            <input matInput type="password " name="password " placeholder="Пароль " [(ngModel)]="model.password
        " #password="ngModel " required>
            <mat-error *ngIf="f.submitted && !password.valid ">нужно указать</mat-error>
          </mat-form-field>
  
          <div class="form-group ">
            <button [disabled]="loading " mat-raised-button color="primary ">Заходим</button>
  
            <img *ngIf="loading " src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
          </div>
        </form>
      </div>
    </div>
  </div> -->
