/* .panel-select-add {
    max-height: 456px !important;
  }
  .mat-autocomplete-panel {
    width: 350px;
    max-width : none  ! important ;
  } */
  .sbdh-33-width{
    min-width: 30%;
    width: 33%;
  }