<h1 mat-dialog-title>Новая запись</h1>
<div mat-dialog-content>
  <form [formGroup]="addForm">
    <mat-form-field class="sbdh-full-width">
      <input placeholder="Наименование предприятия или инн" aria-label="isppodr" matInput formControlName="isppodr" [matAutocomplete]="auto"
        required>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayView"> 
        <mat-option *ngFor="let isp of filteredIsp | async" [value]="isp">
          {{ isp.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="sbdh-nofull-width">
      <input matInput formControlName="sum" name="sum" placeholder="Сумма" (keypress)="_keyPressSum($event)">
      <mat-hint>.00 можно не указывать</mat-hint>
      <mat-error *ngIf="addForm.controls['sum'].hasError('pattern')">
        Неверный формат суммы
      </mat-error>
      <mat-error *ngIf="addForm.controls['sum'].hasError('required')">
        обязателен к заполнению
      </mat-error>
    </mat-form-field>

    <mat-form-field class="sbdh-nofull-width">
      <input matInput formControlName="numdoc" placeholder="№ документа" required>
      <mat-error *ngIf="addForm.controls['numdoc'].hasError('required')">
          обязателен к заполнению
        </mat-error>
    </mat-form-field>
    


    <mat-form-field class="sbdh-nofull-width">
      <input matInput [matDatepicker]="pickerdoc" formControlName="datedoc" placeholder="Дата документа" onkeyup="
      var v = this.value;
      if (v.match(/^\d{2}$/) !== null) {
      this.value = v + '.';
      } else if (v.match(/^\d{2}\.\d{2}$/) !== null) {
      this.value = v + '.';
      }" (keypress)="_keyPressDate($event)" maxlength="10">
      <mat-datepicker-toggle matSuffix [for]="pickerdoc"></mat-datepicker-toggle>
      <mat-datepicker #pickerdoc></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="sbdh-nofull-width">
      <input matInput [matDatepicker]="pickernow" formControlName="datenow" placeholder="Дата поступления" onkeyup="
      var v = this.value;
      if (v.match(/^\d{2}$/) !== null) {
      this.value = v + '.';
      } else if (v.match(/^\d{2}\.\d{2}$/) !== null) {
      this.value = v + '.';
      }" (keypress)="_keyPressDate($event)" maxlength="10">
      <mat-datepicker-toggle matSuffix [for]="pickernow"></mat-datepicker-toggle>
      <mat-datepicker #pickernow></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="sbdh-nofull-width">
      <mat-select placeholder="Тип документа" formControlName='type'>
        <mat-option *ngFor="let t of types" [value]="t.id">{{t.val}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="sbdh-nofull-width">
      <mat-select placeholder="Цель документа" formControlName='target'>
        <mat-option *ngFor="let t of targets" [value]="t.id">{{t.val}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <!-- <p>Form value: {{ addForm.invalid | json }}</p> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">отмена</button>
  <button *ngIf="addForm.valid" mat-button (click)="confirmSelection()" color="primary" cdkFocusInitial>создать</button>
</div>
